* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.text {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header {
    min-height: 768px;
    padding-top: 42px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.header__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header__promo {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url("../img/promo_back.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
}

.header__title {
    width: 510px;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.header__text {
    margin-top: 32px;
    width: 425px;
}

.header__link {
    display: inline-block;
    margin-top: 71px;
    padding: 15px 50px;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.advantages {
    padding-top: 64px;
}

.advantages__title {
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.advantages__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 64px;
}

.advantages__card {
    width: 359px;
    display: flex;
    flex-direction: column;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.advantages__card-img {
    align-self: center;
}

.advantages__card-name {
    margin-top: 51px;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
}

.advantages__card-text {
    margin-top: 14px;
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    font-weight: normal;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.advantages__card-link {
    margin-top: 29px;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.completed {
    text-align: center;
    padding-top: 64px;
}

.completed__title {
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
}

.completed__text {
    margin: 32px auto 0;
    width: 70%;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #222222;
}

.completed__pictures {
    margin-top: 64px;
    position: relative;
}

.completed__img {
    width: 100%;
}

.completed__pict-text {
    position: absolute;
    font-weight: normal;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    top: 64px;
    right: 64px;
}

.completed__pictures-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 32px;
    flex-grow: 1;
}

.completed__pictures-item {
    position: relative;
}

.completed__pict-text--small {
    top: 32px;
    left: 32px;
    font-weight: normal;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
}

.completed__pictures-item--margin{
    margin-right: 32px;
}

.map__pict{
    width: 100%;
    height: 400px;
}

.feedback__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form {
    display: flex;
    flex-direction: column;
}

.footer {
    padding-top: 91px;
    padding-bottom: 64px;
    box-sizing: border-box;
    margin-top: 112px;
    background: #316099;
}

.footer__motivated {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 113px;
}

.footer__title {
    width: 340px;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.footer__description {
    width: 495px;
    margin-top: 32px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
}

.hr {
    margin-top: 95px;
    opacity: 0.4;
    border: 1px solid #FFFFFF;
    max-width: 100%;
}

.footer__motivated-link {
    padding: 15px 79px;
    background: #5A98D0;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
}

.footer__contacts {
    padding: 0 113px;
}

.footer__list{
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__item {
    width: 358px;
    display: flex;
}

.footer__item,
.footer__item a {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-decoration: none;
}

.footer__item-num {
    margin-right: 19px;
}

.footer__item-text {
    display: inline-block;
}

@media (max-width: 1024px) {
    .container {
        padding: 0 32px;
    }

    .header__promo {
        background-position: right 220px;
        padding-bottom: 107px;
    }

    .advantages__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .advantages__card {
        margin-bottom: 32px;
    }

    .advantages__title {
        font-size: 24px;
        line-height: 28px;
    }

    .footer__motivated {
        padding: 0 123px;
    }

    .footer__description {
        width: 336px;
    }

    .footer__motivated-link {
        padding: 7px 28px;
    }

    .footer__contacts {
        padding: 0 123px;
    }

    .footer__list {
        flex-direction: column;
    }

    .footer__item {
        width: 100%;
        margin-bottom: 25px;
    }

    .footer__item:nth-last-child(1){
        margin-bottom: 0;
    }

}

@media (max-width: 667px) {
    .header {
        box-sizing: border-box;
        padding-top: 24px;
        padding-bottom: 40px;
        min-height: 376px;
    }

    .header__promo {
        padding-top: 36px;
        padding-bottom: 0;
        background-image: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__title {
        text-align: center;
        width: 100%;
        font-size: 32px;
        line-height: 37px;
    }

    .header__text {
        text-align: center;
        width: 100%;
        margin-top: 12px;
    }

    .header__link {
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }

    .advantages {
        padding-top: 48px;
    }

    .advantages__wrapper {
        padding-top: 32px;
    }

    .advantages__card {
        width: 100%;
    }

    .completed__text {
        width: 100%;
    }

    .completed__pict-text {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }

    .completed__pictures-wrap {
        flex-direction: column;
        margin-top: 16px;
    }

    .completed__pict-text--small {
        font-size: 16px;
        line-height: 19px;
        left: 16px;
        top: 26px;
    }

    .completed__pictures-item--margin {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .footer {
        padding-top: 18px;
    }

    .footer__motivated {
        padding: 0 16px;
        flex-direction: column;
        text-align: center;
    }

    .footer__title {
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }

    .footer__motivated-link {
        margin-top: 40px;
    }

    .hr {
        margin-top: 40px;
    }

    .footer__contacts {
        padding: 0 16px;
    }

    .footer__text {
        text-align: center;
    }
}
































.form__input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.footer__copyright {
    margin-top: 64px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}

.form__button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}